body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.top_cap {
    width: 1440px; 
    height: 29px;
    background-color: #000000;
    color: #FBFBFB;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}